@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular', sans-serif;

}
  body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 1903px;
    height: 900px;
  
  }
  .movec {
    background-color: rgb(20, 3, 78); /* 배경색을 원하는 색상으로 설정 */
    color: white; /* 글자색을 원하는 색상으로 설정 */
}



  
 
  /*--------------------------게시판 제목--------------------*/
    .c_list_mtitle{ //제목 값 설정
    font-size: 28px;
     font-weight:bold;
    width: 1050px;
    height: 65px;
    margin-top: 50px;
    margin-left: 400px; 
    padding-top:15px;
    text-align:center;
    background-color:rgb(20, 3, 78);
    color: #fff;

  
  }

  /*------------------게시판 전체 div----------------------------------*/
.c_list_main{
	width:1050px;
	height:800px;
	margin-left:400px;
	
}
  /*---------------------------왼쪽 여행지 선택 메뉴-----------------*/
   
  .c_city_menu{
     width: 150px;
     height: 600px;
     border: solid 1px;  
     margin-top: 0px;
      cosor:pointer;
  }
  .c_city_menu ul{
    width: 100px;
    height: 150px;
    margin-bottom: 0px;
    margin-top: 00px;
}
.c_city_menu ul li{
    width: 150px;
    height: 5px; 
    margin-bottom: 0px;
    list-style: none;
}
.c_city_menu ul li h4{
	height: 20px;
    text-align: center;
}
.c_city_menu ul li h6{
   padding-left:20px;
}

.c_city_menu1{
    width: 150px;
    height: 130px;
    margin-left: 0px;

}
  .c_list_title1{
  text-align: left;
  }
  .c_city_menu ul li h4:hover{
    background-color:rgb(20, 3, 78);
    color: #fff;
    cosor:pointer;
}
 .c_city_menu ul li h6:hover{
   cosor:pointer;
   color: red;
}
  /*-----------------------------------게시판 내용 리스트-------*/
  
  .c_list_div{ //리스트 전체 사이즈
    width: 900px;
    height: 800px;
    margin-left: 150px;
    margin-top: -618px;
  }

  .c_list_table{ // 리스트 사이즈 설정
    width: 700px;
    height: 600px;
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
    table-layout: fixed;

  }

  thead{ 
    border: solid;
  }
  th{
   border:  solid ;
   border-width: 0px 1px 0px 0px ;
  }
 
  tr{ //높이고정
  height: 50px;
  border:  solid ;
  border-width: 0px 0px 1px 0px ;
  
  }
  td:hover{
  color:red;
   cosor:pointer;
 
  }
  .c_headnum{
    width: 80px;
  }
  .c_list_title{
    width: 360px;

  }
  .c_list_writer{
    width: 150px;

  }
  .c_list_date{
    width: 150px;

  }
  .c_country{
    width: 80px;

  }
  .c_city{
    width: 80px;
 
  }
  .pagination{

    width: 100px;
    height: 20px;
    margin-left:300px;
    margin-top:40px;
  }

