@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
 
@color-change{
	background-color: yellow;
}

* {
    font-family: 'Pretendard-Regular';
    
}

  body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 1903px;

  
  } 
  .movem {
    background-color: rgb(20, 3, 78); /* 배경색을 원하는 색상으로 설정 */
 color: white!important; /* 글자색을 원하는 색상으로 설정 */
  }
/*전제 내용 내역*/
#content_all{
    width: 1903px;
    height: 1800px;
}

/*내용 왼쪽여백 나중에 추가 해야 할 수도 있어서 미리 공간 줌*/
/* 마이페이지 왼쪽 메뉴 리스트*/
#content_left{
    width: 550px;
    height: 1800px;
    float: left;
}
#content_list{
	/*background-color:yellow;*/
	width: 200px;
    height:900px;
    float:right;
    margin-top: 150px;
}
#content_list_title{

	width: 200px;
    height:60px;
    border-bottom: solid 1px;
    text-align: center;
    margin-top: 20px;
}
#m_menu_ul{
  /*  background-color:pink; */
	width: 200px;
    height:600px;
    margin-top:0px;
    font-weight: bold;
}
#m_menu_ul li{

    border-bottom: solid 1px;
	width: 180px;
    height:60px;

    padding-left: 20px;

}
#m_menu_ul li p {
padding-top:20px;

    padding-left: 0px;

}
#li1:hover,#li2:hover,#li3:hover,
#li4:hover,#li5:hover,#li6:hover{
    border-bottom: solid 1px rgb(117, 165, 236) ;
    color : rgb(117, 165, 236);   
}



/* 본문내용 작성 */
  #content{
    /* background-color: rgba(224, 224, 224, 0.5); */
 margin-top:120px;
    width: 1000px;
     height: 1600px;
    float: left;
    font-weight: bold;
}

/*찜 목록*/
#like_div1{

	margin-top:70px;
	border-bottom:solid 1px;
	width: 900px;
	min-height: 300px;
	max-height: 900px;
	font-weight: bold;

}

#like_tap_div{
	margin-top:30px;
	border-bottom:solid 1px;
	width: 900px;
	height: 50px;
	font-weight: bold;
}

#like_tour{
	/*background-color:pink;*/
	width: 200px;
	height: 39px;
	padding-top: 10px;
	text-align: center;
	border-right:solid 1px;
	
}
#like_hotel{
	/*background-color:green;*/
	width: 200px;
	height: 39px;
	padding-top: 10px;
	text-align: center;
	margin-left: 200px;
	margin-top: -49px;
	border-right:solid 1px;
}
#like-title{		
    background-color: rgb(117, 165, 236, 0.6);
    margin-top:40px;
	width: 900px;
	height: 30px;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#like_ul{
 
	width: 900px;
	min-height: 100px;
	max-height: 600px;

	transition: min-height 0.3s, max-height 0.3s;
}
#like_ul li{

	border-bottom: 1px solid;
	width: 850px;
	height: 90px;
	padding-left: 50px;
	padding-top: 10px;

}
#li_eng{	
	width: 650px;
	font-size: 20px;
	font-weight: bold;
}
#li_ko{
	width: 650px;
	font-size: 18px;
	font-weight: bold;
}
#li_city{
	width: 650px;
	font-size: 15px;
}
#h_like_del_btn{
	width: 120px;
	height: 30px;
	margin-left: 680px;
	background-color: #555;
	color:white;
	border-radius: 5px;
}
#h_like_del_btn:hover{
	background-color: #111;
}

/*예약목록 확인*/
#reserv_div{

margin-top:0px;
width: 900px;
height: 780px;
}
#content_title{

margin-left:30px;
width: 1000px;
height: 50px;
}
#content_main{
	/* background-color:green; */
	  width: 900px;
     height: 1500px;
     margin-left: 50px;	
}
#content_hotel{
	/* background-color:yellow; */
	  width: 900px;
     height: 400px;
     margin-top: 50px;	
   
}

#content_hotel_title{
	width: 900px;
     height: 30px;
} 
#content_hotel_info{
	/* background-color:blue; */
	width: 900px;
    height: 270px;
    margin-top:30px;
    padding-top: 30px;
	  border:solid 1px;
background-color: rgba(224, 224, 224, 0.5);
}
#content_hotel_img{
 
	width: 240px;
    height: 240px;
    margin-left: 30px;	
}
#hotel_img{

	width: 240px;
    height: 240px;
    
}
#content_hotel_info1{
		/* background-color:pink; */
	width: 570px;
    height: 240px;
        margin-left: 300px;	
           margin-top: -240px;	

}
#h_reserv_num{
	/* background-color:green; */
			width: 350px;
    height: 25px;
	
}
#user_name{
	/* background-color:yellow; */
    width: 350px;
    height: 25px;	
}
#hotel_info_ul{
	/* background-color:green; */
    width: 350px;
    height: 170px;
    margin-top: 15px;
}
#hotel_name_eng{
	font-size: 26px;
	font-weight: bold;
}
#hotel_name_ko{
	font-size: 18px;

}
#city{
	padding-left: 5px;
}
#hotel_name_indate{
	font-size: 16px;
	margin-top: 10px;
}
#hotel_name_outdate{
	font-size: 16px;
}

#total_price{
	font-size: 18px;
	margin-top: 30px;
}

#content_hotel_review{
   /*background-color:orange;*/
    width: 190px;
    height: 240px;
	margin-left: 370px;
	margin-top: -235px;	
	
}

#review_btn{
	text-align:center;
	border-radius: 5px;
	margin-top:200px;
	width: 180px;
    height: 30px;
    background-color: #555;
    color:white;
    font-size: 15px;
    font-weight: bold;
}
#review_btn:hover{
	background-color: #111;
}

/*투어예약 내역*/


#content_tour{
 
	  width: 900px;
     height: 400px;
     margin-top: 50px;	
   
}
#content_tour_title{
	width: 900px;
     height: 30px;
} 
#content_tour_info{
/*background-color:blue;*/
	width: 900px;
    height: 270px;
    margin-top:30px;
    padding-top: 30px;
	 border:1px solid;
	      background-color: rgba(224, 224, 224, 0.5);
}
#content_tour_img{
 /*background-color:blue;*/
	width: 240px;
    height: 240px;
    margin-left: 30px;	
}
#tour_img{
width: 240px;
    height: 240px;
    
}
#content_tour_info1{
  /*background-color:pink; */
	width: 570px;
    height: 240px;
    margin-left: 300px;	
    margin-top: -230px;	

}
#t_reserv_num{
	/* background-color:green; */
			width: 350px;
    height: 25px;
	
}
#t_user_name{
	/* background-color:yellow; */
    width: 550px;
    height: 25px;	
}
#tour_info_ul{
	/* background-color:green; */
    width: 350px;
    height: 170px;
    margin-top: 15px;
}
#t_name{
	 width: 550px;
	font-size: 20px;
	font-weight: bold;
}

#t_r_date{
	font-size: 16px;
	margin-top: 10px;
}
#t_r_time{
	font-size: 16px;
}

#t_total_price{
	font-size: 18px;
	margin-top: 30px;
}






/*내용 오른쪽여백 나중에 추가 해야 할 수도 있어서 미리 공간 줌*/

#content_right{
    width: 350px;
    height: 700px;
    float: right;
}

footer {
     margin-top: 100px;
}  
