@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
 
@color-change{
	background-color: yellow;
}

* {
    font-family: 'Pretendard-Regular';
    
}

  body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 1903px;

  
  } 
  .movet {
    background-color: rgb(20, 3, 78); /* 배경색을 원하는 색상으로 설정 */
 color: white!important; /* 글자색을 원하는 색상으로 설정 */
  }
/*전제 내용 내역*/
#content_all{
    width: 1903px;
    height: 1800px;
}

/*내용 왼쪽여백 나중에 추가 해야 할 수도 있어서 미리 공간 줌*/

/*#content_left{
    width: 303px;
    height: 1800px;
    float: left;
}*/
/*호텔 예약 정보 - 제목*/
#t_reserv_title{
margin-top: 50px;
text-align: center;
	
}
#t_name{
	width: 400px;
	margin-bottom: 30px;	
}
/*결제 정보내역 */
  #content{
    /*width: 1100px;*/
    width: 1200px;
     height: 1800px;
    /*float: left;*/
    margin: 0 auto;

}
 
 #content_div{
     background-color: rgba(224, 224, 224, 0.5);
 width: 1200px;
     height: 1650px;
    border:solid 1px;
    /*margin-left: 50px;*/
     margin-top: 50px;
 } 
 
 /*왼쪽 호텔 정보 및 룸 정보*/
#content_div_left{/*왼쪽 전체*/

	width: 550px;
    height: 1550px;
        margin-left: 30px;
     margin-top: 30px;
     padding-top: 10px;	
} 
#content_tour_div{

	width: 550px;
    /*height: 270px;*/
}
#content_tour_pho{
	width: 400px;
    /*height: 200px;*/
     /*margin-left: 10px;*/
}
#content_hotel_name{

		width: 250px;
    height: 160px;
    padding-top:20px;
    margin-left: 250px;
   margin-top:-180px;
}
 #content_tour_name h5{
 margin-top: 10px;
 } 
 
 #content_tour_image{
 /*width: 200px;*/
 width: 400px;
 /*height: 200px;*/
 }

 /*체크인 날짜 및 투숙정보*/
 #content_date_div{

 	margin-left:30px;
	width: 450px;
    /*height: 260px;*/
    height: 180px;
 }
#content_date_info th {
	text-align: left;
    font-size:18px;
	width: 210px;
    height: 20px;
    margin-left: 10px;
    padding-bottom: 30px;
}
#content_date_info td {
	text-align: left;
	font-weight:bold;
    font-size:18px;
	width: 210px;
    height: 20px;
    padding-bottom: 30px;
}
 
 /*룸정보시작*/
 #content_guide_div{
	display: flex;
	width: 550px;
    height: 200px;
    margin-top: 20px;
    
}
#content_guide_pho{
	/*width: 200x;*/
	width: 240px;
    /*height: 200px;*/
     /*margin-left: 10px;*/
}
#content_guide_image{
		width: 200px;
    /*height: 200px;*/
}
#content_guide_name{

		/*width: 250px;
    height: 180px;*/
    /*padding-top:20px;*/
    margin-left: 20px;
   margin-top:auto;
}
#content_room_name h3{

   margin-top:-10px;
}
#content_room_info{
	font-size: 15px;
	margin-top:10px;
}
#content_room_info th{
	text-align:left;
	width: 150px;
    height: 30px;
}
/*결제 금액설정*/
#content_tour_price_div{
	
	font-weight:bold;
	margin-top: 20px;
		width: 450px;
    height: 350px;
       margin-left: 40px;
}
#content_room_price_table {
border-collapse:collapse
}
#content_room_price_table td{

	width: 225px;
    height: 80px;
	
}

.td_1{
text-align: left;
    font-size: 20px;
    padding-left: 20px;
}
.td_2{
text-align: right;	
    font-size: 18px;
     padding-right: 20px;

} 
.td_total{
	text-align: left;
	font-weight: bold; 
    font-size: 25px;
        padding-left: 10px;
        border-top: solid 2px;
        border-color:grey;
}
.td_totalpri{
text-align: right;	
	font-weight: bold; 
    font-size: 25px;
         padding-right: 10px;
                 border-top: solid 2px;
        border-color:grey;
}
/*무로 취소 안내*/
#content_reserv_info{	
    margin-left:50px;
	width: 500px;
    height: 220px;
    margin-top: 40px;
}
#content_reserv_info1{

	width: 500px;
    height: 100px;
}

#content_reserv_info11{
 margin-top:20px;
	width: 500px;
    height: 80px;
}
.content_reserv_info111{
	
	 margin-top:15px;
}
#content_reserv_info2{
	margin-top:40px;
	width: 500px;
    height: 100px;
}
  
#content_reserv_info21{
	
	width: 500px;
    height: 80px;
}
/*내용 오른쪽 투숙객 정보 작성*/
#content_div_right{

	width: 450px;
    height: 1550px;
        /* margin-left: 650px; */
        margin-left: 30px;
     /* margin-top: -1560px; */
     margin-top: 30px;
     padding-top: 10px;	
}
#content_div_right h2{
	width: 430px;
    height: 50px;
        margin-left: 20px;
}
#content_div_right h4{
	width: 430px;
    height: 15px;
        margin-left: 20px;

}
#write_way{
	width: 430px;
    height: 100px;
        margin-left: 20px;

}
#content_div_right h3{
	width: 430px;
    height: 30px;
        margin-left: 20px;
}
#content_person_info h3{
	width: 430px;
    height: 60px;
	
}
#user_info_table{
		width: 430px;
    height: 150px;
        margin-left: 20px;
}
#user_firstname_title{
	width: 430px;
    height: 40px;
 
}
#user_firstname{
	padding-left:15px;
		width: 405px;
    height: 40px;
}
#user_lastname_title{
	margin-top:30px;
		width: 430px;
    height: 20px;
}
#user_lastname{
	padding-left:15px;
		width: 405px;
    height: 40px;
}
  
  #user_info_tel{
  margin-top:80px;
  	width: 450px;
    height: 250px;
  }
    #user_info_tel h3{
	width: 430px;
    height: 60px;
  }
  #user_mail_title{

		width: 430px;
    height: 20px;
 margin-left: 20px;
}
#user_mail{
	margin-left: 20px;
	padding-left:15px;
		width: 405px;
    height: 40px;
}
 #mail_information{
 margin-left: 20px;
 		width: 430px;
    height: 15px;
    margin-top: 10px;
 } 
   #user_tel_title{
	margin-top:30px;
		width: 430px;
    height: 20px;
 margin-left: 20px;
} 
  
#country_tel{
	margin-left: 20px;
		width: 120px;
    height: 45px;
}
#user_tel{
		margin-left: 0px;
		width: 295px;
    height: 40px;
}  
#user_payment{
  margin-top:30px;
  	width: 450px;
    height: 250px;
	
}
#card_title{
	margin-top:20px;
		width: 430px;
    height: 20px;
 margin-left: 20px;
} 
  
#card_select{
	margin-left: 20px;
		width:430px;
    height: 45px;
}
#toss_pay_title{
		margin-top:50px;
		width: 430px;
    height: 20px;
 margin-left: 20px;
}
  #toss_pay{
  background-color:blue;
  margin-left:75px;
    margin-top:20px;
  color:white;
  	width:300px;
    height: 45px;
  }
/*내용 오른쪽여백 나중에 추가 해야 할 수도 있어서 미리 공간 줌*/

#content_right{
    width: 400px;
    /* height: 700px; */
    float: right;
}

/*footer {
     margin-top: 100px;
}  */

