<?xml version="1.0" encoding="UTF-8"?>

 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
 id="WebApp_ID" version="3.1">


<servlet>
<servlet-name>hotel_cto</servlet-name>
<servlet-class>h_controller.H_Cto</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hotel_cto</servlet-name>
<url-pattern>*.hotel</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>m_cto</servlet-name>
<servlet-class>h_controller.H_Cto</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>m_cto</servlet-name>
<url-pattern>*.mypage</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>t_cto</servlet-name>
<servlet-class>t_controller.t_cto</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>t_cto</servlet-name>
<url-pattern>*.tour</url-pattern>
</servlet-mapping>


 <servlet>
    <servlet-name>shop_cto</servlet-name>
    <servlet-class>s_controller.S_Cto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shop_cto</servlet-name>
    <url-pattern>*.shop</url-pattern>
  </servlet-mapping>
</web-app>